.node-red/flows_raspberrypi.json
[{"id":"3d0770ee.9fd28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18ecc450.cecb0c","type":"server","z":"","name":"Home Assistant","url":"http://192.168.0.111:8123","pass":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI2MGU1ODAyNGY2ZDk0MjdkOTcyYzc2MDYzMDhiYTM4ZCIsImlhdCI6MTU0NzM1MzQ1NywiZXhwIjoxODYyNzEzNDU3fQ.1iha9EDa2uJfTgw2KXeZYKd4s4CUG2JMRbA1YYtl8HI"},{"id":"2765943d.d5b22c","type":"hue-bridge","z":"","name":"Philips Hue Bridge","bridge":"192.168.0.203","key":"UQAU1ynmZgC9o2UdPVvlo-GbqQ9MvVmSOeX1ysZ9","interval":"3000"},{"id":"d92d7fb2.e096","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights On","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\",  \"brightness\": \"255\" }","mergecontext":"","x":792.0205993652344,"y":119.80797290802002,"wires":[["35b9f9ca.373856"]]},{"id":"4666db14.4c8034","type":"server-state-changed","z":"3d0770ee.9fd28","name":"Kitchen Motion Sensor","server":"18ecc450.cecb0c","entityidfilter":"sensor.kitchen_motion_sensor","entityidfiltertype":"substring","haltifstate":"","x":324.02056884765625,"y":113.80796527862549,"wires":[["a3625914.b971c8"]]},{"id":"3cb9214f.ee15fe","type":"api-call-service","z":"3d0770ee.9fd28","name":"Turn on Bedroom Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.bedroom\",  \"brightness\": \"255\" }","mergecontext":"","x":741.0378112792969,"y":398.15181064605713,"wires":[[]]},{"id":"ee7bcb79.22fcb8","type":"api-current-state","z":"3d0770ee.9fd28","name":"Stop if in bed","server":"18ecc450.cecb0c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.sleepnumber_m7_coleman_is_in_bed","x":507.61463928222656,"y":385.23161125183105,"wires":[["3cb9214f.ee15fe","35b9f9ca.373856"]]},{"id":"23327c2e.17a784","type":"server-state-changed","z":"3d0770ee.9fd28","name":"Bedroom Sensor Detected","server":"18ecc450.cecb0c","entityidfilter":"sensor.bedroom_motion_sensor","entityidfiltertype":"substring","haltifstate":"","x":149.02056884765625,"y":405.04058742523193,"wires":[["a19f32a9.432a9"]]},{"id":"73e9e0f9.4ea79","type":"delay","z":"3d0770ee.9fd28","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":508.2115707397461,"y":457.0579500198364,"wires":[["754fa58e.7860ec"]]},{"id":"754fa58e.7860ec","type":"api-call-service","z":"3d0770ee.9fd28","name":"Turn off Bedroom Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.bedroom\", \"transition\": \"5\" }","mergecontext":"","x":736.037914276123,"y":456.0406551361084,"wires":[[]]},{"id":"a19f32a9.432a9","type":"switch","z":"3d0770ee.9fd28","name":"If on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":342.2046203613281,"y":405.14482021331787,"wires":[["ee7bcb79.22fcb8","35b9f9ca.373856"],["73e9e0f9.4ea79"]]},{"id":"a3625914.b971c8","type":"switch","z":"3d0770ee.9fd28","name":"If on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":509.04010009765625,"y":111.06186485290527,"wires":[["d92d7fb2.e096"],["bf9889c5.1bde88"]]},{"id":"bf9889c5.1bde88","type":"delay","z":"3d0770ee.9fd28","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":615.0401000976562,"y":192.06186485290527,"wires":[["841648e6.f6ff08"]]},{"id":"841648e6.f6ff08","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights Off","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.kitchen\" , \"transition\": \"5\"}","mergecontext":"","x":803.040096282959,"y":187.06187629699707,"wires":[["35b9f9ca.373856"]]},{"id":"35b9f9ca.373856","type":"debug","z":"3d0770ee.9fd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":447.5323715209961,"y":305.5451374053955,"wires":[]},{"id":"8b2f0259.688af","type":"hue-motion","z":"3d0770ee.9fd28","name":"Bedroom sensor","bridge":"2765943d.d5b22c","sensorid":"19","x":122.14063262939453,"y":278.91406631469727,"wires":[["44315ca8.f54a84"]]},{"id":"44315ca8.f54a84","type":"debug","z":"3d0770ee.9fd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340.01953125,"y":187.00390625,"wires":[]}]