.node-red/flows_raspberrypi.json
[{"id":"3d0770ee.9fd28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18ecc450.cecb0c","type":"server","z":"","name":"Home Assistant","url":"http://192.168.0.111:8123","pass":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI2MGU1ODAyNGY2ZDk0MjdkOTcyYzc2MDYzMDhiYTM4ZCIsImlhdCI6MTU0NzM1MzQ1NywiZXhwIjoxODYyNzEzNDU3fQ.1iha9EDa2uJfTgw2KXeZYKd4s4CUG2JMRbA1YYtl8HI"},{"id":"2765943d.d5b22c","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.203","key":"OWMtorM7eGlEK77BxcnoBnr9hVm4cIYEHpxhg57Y","interval":"8000"},{"id":"e14ddd74.e008f","type":"mqtt-broker","z":"","name":"ddd","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4473dbad.851d54","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6663ae3.d51d65","type":"ui_group","z":"","name":"Default","tab":"4473dbad.851d54","disp":true,"width":"6","collapse":false},{"id":"372d05cb.6533fa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d92d7fb2.e096","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights On","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\",  \"brightness\": \"255\" }","mergecontext":"","x":990,"y":80,"wires":[[]]},{"id":"3cb9214f.ee15fe","type":"api-call-service","z":"3d0770ee.9fd28","name":"Turn on Bedroom Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.bedroom\",  \"brightness\": \"255\", \"color_name\": \"white\"}","mergecontext":"","x":1290,"y":220,"wires":[[]]},{"id":"754fa58e.7860ec","type":"api-call-service","z":"3d0770ee.9fd28","name":"Turn off Bedroom Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.bedroom\", \"transition\": \"5\" }","mergecontext":"","x":1330,"y":360,"wires":[[]]},{"id":"841648e6.f6ff08","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights Off","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.kitchen\" , \"transition\": \"5\"}","mergecontext":"","x":730,"y":160,"wires":[[]]},{"id":"fbed19fb.f048e8","type":"stoptimer","z":"3d0770ee.9fd28","duration":"1.5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":790,"y":360,"wires":[["6c600d84.7a6ad4"],[]]},{"id":"58c92e93.94512","type":"stoptimer","z":"3d0770ee.9fd28","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":520,"y":160,"wires":[["841648e6.f6ff08"],[]]},{"id":"58c9c6db.cdf258","type":"api-call-service","z":"3d0770ee.9fd28","name":"Lamp On","server":"18ecc450.cecb0c","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.living_room_lamp\"}","mergecontext":"","x":1440,"y":560,"wires":[[]]},{"id":"2c0bf2b9.275fae","type":"api-call-service","z":"3d0770ee.9fd28","name":"Adjust Kitchen Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{}","mergecontext":"","x":1180,"y":780,"wires":[[]]},{"id":"3d32bc95.2b1c04","type":"api-call-service","z":"3d0770ee.9fd28","name":"Lamp Off","server":"18ecc450.cecb0c","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.living_room_lamp\"}","mergecontext":"","x":1500,"y":680,"wires":[[]]},{"id":"d7193e5b.8fdd","type":"looptimer","z":"3d0770ee.9fd28","duration":"30","units":"Second","maxloops":"100","maxtimeout":"15","maxtimeoutunits":"Minute","name":"Keep lights on 15 min","x":320,"y":240,"wires":[["58c92e93.94512"],[]]},{"id":"8cee1e78.e4952","type":"api-current-state","z":"3d0770ee.9fd28","name":"Bed Status","server":"18ecc450.cecb0c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.bed_occupied","x":470,"y":60,"wires":[["533ccc38.669dc4"]]},{"id":"533ccc38.669dc4","type":"switch","z":"3d0770ee.9fd28","name":"In Bed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":60,"wires":[["d94057cd.ed3f58"],["d92d7fb2.e096"]]},{"id":"25a696ba.8f010a","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights Dim","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\",  \"brightness\": \"25\", \"color_temp\": \"512\" }","mergecontext":"","x":990,"y":40,"wires":[[]]},{"id":"20dded2b.05a4c2","type":"change","z":"3d0770ee.9fd28","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[["58c92e93.94512"]]},{"id":"cb9b659b.08da48","type":"change","z":"3d0770ee.9fd28","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["fbed19fb.f048e8"]]},{"id":"d94057cd.ed3f58","type":"time-range-switch","z":"3d0770ee.9fd28","name":"","lat":"","lon":"","startTime":"06:15","endTime":"20:00","startOffset":0,"endOffset":0,"x":780,"y":20,"wires":[["d92d7fb2.e096"],["25a696ba.8f010a"]]},{"id":"88b55d54.f4ef","type":"mqtt in","z":"3d0770ee.9fd28","name":"","topic":"hue/kitchen_switch/buttonevent","qos":"2","broker":"e14ddd74.e008f","x":130,"y":1100,"wires":[["46e7329e.b1126c","7bc4c2a1.83587c"]]},{"id":"89bae89.719c318","type":"debug","z":"3d0770ee.9fd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1180,"wires":[]},{"id":"a8a25e27.d362","type":"mqtt in","z":"3d0770ee.9fd28","name":"","topic":"hue/kitchen_sensor/presence","qos":"2","broker":"e14ddd74.e008f","x":130,"y":60,"wires":[["32c81345.aec2ec"]]},{"id":"32c81345.aec2ec","type":"switch","z":"3d0770ee.9fd28","name":"Motion Detected?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":140,"wires":[["8cee1e78.e4952","20dded2b.05a4c2"],["58c92e93.94512"]]},{"id":"e6a2cbe3.466b78","type":"switch","z":"3d0770ee.9fd28","name":"Motion Detected?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":280,"wires":[["cb9b659b.08da48","319bdedb.908ae2"],["fbed19fb.f048e8"]]},{"id":"764b8536.761ffc","type":"function","z":"3d0770ee.9fd28","name":"Advanced Button Controller","func":"//button: \"3002\"\n//on: true\n//bri: 1 out of 100\n//ct: 198\n//alert: \"none\"\n//colormode: \"ct\"\n\n\n\nfunction BrightnessDown(current_brightness) {\n    newBrightnessPct = (current_brightness / 100 - 0.2) * 100\n    return Math.max(0, Math.min(100, Math.round(newBrightnessPct)))\n}\n\nfunction BrightnessUp(current_brightness) {\n    newBrightnessPct = (current_brightness / 100 + 0.2) * 100\n    return Math.max(0, Math.min(100, Math.round(newBrightnessPct)))\n}\n\nfunction CTHotter(current_CT) {\n    newCTPct = (current_CT / 512 + 0.2) * 512\n    return Math.max(1, Math.min(512, Math.round(newCTPct)))\n}\n\nfunction CTColder(current_CT) {\n    newCTPct = (current_CT / 512 - 0.2) * 512\n    return Math.max(1, Math.min(512, Math.round(newCTPct)))\n}\n\nfunction AdjustMessage(brightness_pct, color_temp) {\n    newmsg = {\n        payload: {\n            \"data\": {\n                \"entity_id\": \"light.kitchen\",\n                \"brightness_pct\": brightness_pct,\n                \"color_temp\": color_temp\n            }    \n        }\n    }\n    return newmsg\n}\n\n//PARSE BUTTON PRESS\nvar bri = { payload:\"unknown entry \" + msg.payload.button}\nswitch(msg.payload.button) {\n  case \"3002\":\n    // Dim Short \n    // Dim by 25%\n\n    if(msg.payload.on===true) {\n        // reduce brightness 25%\n        var bri = BrightnessDown(msg.payload.bri)\n        return ([ null, AdjustMessage(bri, msg.payload.ct), null, null, null ]);\n    } else {  \n        // turn on brightness 10%\n        return ([ null, AdjustMessage(5, msg.payload.ct), null, null, null ]);\n    } break\n    \n  case \"3001\":\n    // Dim hold\n    var ct = CTColder(msg.payload.ct)\n    return ([ null, AdjustMessage(msg.payload.bri, ct) , null, null, null ]);\n    \n  case \"2002\":\n    // Brighten Short\n    var bri = BrightnessUp(msg.payload.bri)\n    return ([ null, AdjustMessage(bri, msg.payload.ct) , null, null, null ]);\n    \n  case \"2001\":\n    // Brighten hold\n    var ct = CTHotter(msg.payload.ct)\n    return ([ null, AdjustMessage(msg.payload.bri, ct) , null, null, null ]);\n    \n  case \"1002\":\n    // On short\n    turnon = {payload: \"data\"}\n    return ([ turnon, null , null , null, null ]);\n\n  case \"1003\":\n    // Hold On 4 Seconds and release\n    turnonlamp = {payload: \"on\"}\n    return ([ null, null , null , turnonlamp, null ]);\n    \n  case \"4002\":\n    // Off\n    turnoff = {payload: \"data\"}\n    return ([ null, null , turnoff , null, null ]);\n    \n  case \"4003\":\n    // Hold Off 4 Seconds and release\n    turnofflamp = {payload: \"off\"}\n    return ([ null, null , null , turnofflamp, null ]);\n    \n  default:\n    // code block\n    POOP = {payload:msg.payload.button}\n    return ([ null,  null , null, null, POOP ]);\n}\n\n\n\n//this.send([ msg1 , msg2 ]);\n//return ([ NewMsg , POOP ]);","outputs":5,"noerr":0,"x":740,"y":1100,"wires":[["4ff27842.239688"],["2c0bf2b9.275fae"],["ab05f71f.d69fe8"],["7f7f21dd.2e598"],["89bae89.719c318"]],"outputLabels":["Kitchen Lights On","Adjust Kitchen Lights","Kitchen Lights Off","Switch On","Unknown - send to debug"]},{"id":"c0748a4b.4af668","type":"hue-bridge-node","z":"3d0770ee.9fd28","name":"","bridge":"2765943d.d5b22c","autoupdates":true,"x":610,"y":1280,"wires":[["dc3aacfd.fd79a"]]},{"id":"73f2c495.dd8c4c","type":"inject","z":"3d0770ee.9fd28","name":"Simulate Press Hue Button","topic":"","payload":"{\"pressButton\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1280,"wires":[["c0748a4b.4af668"]]},{"id":"4f97afb7.cc76a","type":"join","z":"3d0770ee.9fd28","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1100,"wires":[["764b8536.761ffc"]]},{"id":"46e7329e.b1126c","type":"change","z":"3d0770ee.9fd28","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.button","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1060,"wires":[["4f97afb7.cc76a"]]},{"id":"ab05f71f.d69fe8","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights Off","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.kitchen\" , \"transition\": \"0.5\"}","mergecontext":"","x":1090,"y":1100,"wires":[[]]},{"id":"4ff27842.239688","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights On","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\", \"brightness_pct\": \"100\" }","mergecontext":"","x":1090,"y":1060,"wires":[[]]},{"id":"6d99b08f.3a1bd","type":"api-current-state","z":"3d0770ee.9fd28","name":"Stop if in bed","server":"18ecc450.cecb0c","halt_if":"1","override_topic":false,"override_payload":false,"entity_id":"sensor.bed_occupied","x":1030,"y":320,"wires":[["754fa58e.7860ec"]]},{"id":"1eeafc96.0660f3","type":"api-call-service","z":"3d0770ee.9fd28","name":"Bed Nightlight","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.under_bed_lightstrip\",  \"brightness\": \"25\", \"xy_color\": [\"0.683\", \"0.307\"]}","mergecontext":"","x":1940,"y":160,"wires":[[]]},{"id":"319bdedb.908ae2","type":"api-current-state","z":"3d0770ee.9fd28","name":"Bed Status","server":"18ecc450.cecb0c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.bed_occupied","x":723.26953125,"y":236.00390625,"wires":[["692006a4.ccafd8"]]},{"id":"692006a4.ccafd8","type":"switch","z":"3d0770ee.9fd28","name":"In Bed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":883.26953125,"y":237.00390625,"wires":[["8ea9e0e3.570f3"],["ba727313.b40cd"]]},{"id":"8ea9e0e3.570f3","type":"time-range-switch","z":"3d0770ee.9fd28","name":"","lat":"","lon":"","startTime":"06:15","endTime":"20:00","startOffset":0,"endOffset":0,"x":1010,"y":160,"wires":[[],["fbe25656.0ac388"]]},{"id":"7f7f21dd.2e598","type":"switch","z":"3d0770ee.9fd28","name":"On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1260,"y":600,"wires":[["58c9c6db.cdf258"],["3d32bc95.2b1c04"]]},{"id":"a2152138.f1137","type":"start-up-trigger","z":"3d0770ee.9fd28","x":200,"y":1320,"wires":[["ddb4a918.9e7b88"]]},{"id":"e1a518eb.200d28","type":"mqtt in","z":"3d0770ee.9fd28","name":"","topic":"hue/bedroom_sensor/presence","qos":"2","broker":"e14ddd74.e008f","x":122.71428680419922,"y":307,"wires":[["e6a2cbe3.466b78"]]},{"id":"5baf4a35.067a34","type":"server-state-changed","z":"3d0770ee.9fd28","name":"BedPresenceMath","server":"18ecc450.cecb0c","entityidfilter":"sensor.num_in_master_bed","entityidfiltertype":"substring","haltifstate":"","x":130,"y":420,"wires":[["20d8ceaa.114d72"]]},{"id":"20d8ceaa.114d72","type":"trigger-state","z":"3d0770ee.9fd28","name":"Bed Initial Occupation","server":"18ecc450.cecb0c","entityid":"sensor.num_in_master_bed","debugenabled":false,"constraints":[{"id":"39inxqy7dyc","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"0"},{"id":"a616sedkoc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"greater_than","comparatorValueDatatype":"str","comparatorValue":"0"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":360,"y":420,"wires":[["68ee029e.cccf2c"],[]]},{"id":"68ee029e.cccf2c","type":"time-range-switch","z":"3d0770ee.9fd28","name":"Near Bedtime","lat":"","lon":"","startTime":"20:45","endTime":"23:15","startOffset":0,"endOffset":0,"x":560,"y":420,"wires":[["c4754556.a9e928","19f56dd3.eed152"],[]]},{"id":"ddb4a918.9e7b88","type":"change","z":"3d0770ee.9fd28","name":"Press Hue Button","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"pressButton\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1320,"wires":[["c0748a4b.4af668"]]},{"id":"c4754556.a9e928","type":"api-call-service","z":"3d0770ee.9fd28","name":"Bed Bedtime Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.bedroom\",  \"transition\":\"15\", \"brightness\": \"50\", \"kelvin\": \"4200\"}","mergecontext":"","x":820,"y":420,"wires":[[]]},{"id":"658ac4c7.e9dccc","type":"stoptimer","z":"3d0770ee.9fd28","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1040,"y":440,"wires":[["8e89d93d.8aae48"],[]]},{"id":"8e89d93d.8aae48","type":"api-call-service","z":"3d0770ee.9fd28","name":"Bedroom Slow Off","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.bedroom\", \"transition\": \"60\" }","mergecontext":"","x":1250,"y":420,"wires":[[]]},{"id":"19f56dd3.eed152","type":"api-call-service","z":"3d0770ee.9fd28","name":"Sound Machine On","server":"18ecc450.cecb0c","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.sound_machine\" }","mergecontext":"","x":820,"y":480,"wires":[["658ac4c7.e9dccc"]]},{"id":"7bc4c2a1.83587c","type":"hue-light","z":"3d0770ee.9fd28","name":"Hue ambiance downlight 1","bridge":"2765943d.d5b22c","lightid":"2","colornamer":true,"x":280,"y":1180,"wires":[["113d8794.e3f078"]]},{"id":"113d8794.e3f078","type":"change","z":"3d0770ee.9fd28","name":"","rules":[{"t":"move","p":"payload.brightness","pt":"msg","to":"payload.bri","tot":"msg"},{"t":"move","p":"payload.colorTemp","pt":"msg","to":"payload.ct","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1200,"wires":[["4f97afb7.cc76a"]]},{"id":"d3cca85.a064858","type":"inject","z":"3d0770ee.9fd28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1220,"y":60,"wires":[["2082e9a.5f3be16","cc0f1384.ce745","fbe25656.0ac388"]]},{"id":"6c600d84.7a6ad4","type":"time-range-switch","z":"3d0770ee.9fd28","name":"","lat":"","lon":"","startTime":"06:15","endTime":"22:55","startOffset":0,"endOffset":0,"x":1010,"y":380,"wires":[["6d99b08f.3a1bd"],["754fa58e.7860ec"]]},{"id":"9f7db5ab.86d108","type":"debug","z":"3d0770ee.9fd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1950,"y":200,"wires":[]},{"id":"dc3aacfd.fd79a","type":"debug","z":"3d0770ee.9fd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1280,"wires":[]},{"id":"2082e9a.5f3be16","type":"api-current-state","z":"3d0770ee.9fd28","name":"Bed Status","server":"18ecc450.cecb0c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.bed_occupied","x":1450,"y":20,"wires":[[]]},{"id":"ba727313.b40cd","type":"time-range-switch","z":"3d0770ee.9fd28","name":"","lat":"","lon":"","startTime":"06:15","endTime":"23:00","startOffset":0,"endOffset":0,"x":1050,"y":220,"wires":[["3cb9214f.ee15fe"],[]]},{"id":"1642976c.3d0fc9","type":"ui_switch","z":"3d0770ee.9fd28","name":"","label":"switch_br_auto","tooltip":"","group":"6663ae3.d51d65","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":360,"wires":[["d137430d.7c201"]]},{"id":"d137430d.7c201","type":"switch","z":"3d0770ee.9fd28","name":"In Bed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":320,"wires":[[],[]]},{"id":"cc0f1384.ce745","type":"api-current-state","z":"3d0770ee.9fd28","name":"Hue Strip Status","server":"18ecc450.cecb0c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.hue_ambiance_downlight_1","x":1420,"y":80,"wires":[[]]},{"id":"17b4d421.fe0edc","type":"switch","z":"3d0770ee.9fd28","name":"is underglow on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1510,"y":160,"wires":[["5a6ed28d.19d81c"],["1eeafc96.0660f3"],["9f7db5ab.86d108"]]},{"id":"fbe25656.0ac388","type":"api-current-state","z":"3d0770ee.9fd28","name":"Hue Strip Status","server":"18ecc450.cecb0c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.under_bed_lightstrip","x":1300,"y":160,"wires":[["17b4d421.fe0edc"]]},{"id":"5a6ed28d.19d81c","type":"switch","z":"3d0770ee.9fd28","name":"Is light on/brightness","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"lte","v":"25","vt":"str"},{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1760,"y":120,"wires":[["1eeafc96.0660f3"],[]]}]