.node-red/flows_raspberrypi.json
[{"id":"3d0770ee.9fd28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18ecc450.cecb0c","type":"server","z":"","name":"Home Assistant","url":"http://192.168.0.111:8123","pass":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI2MGU1ODAyNGY2ZDk0MjdkOTcyYzc2MDYzMDhiYTM4ZCIsImlhdCI6MTU0NzM1MzQ1NywiZXhwIjoxODYyNzEzNDU3fQ.1iha9EDa2uJfTgw2KXeZYKd4s4CUG2JMRbA1YYtl8HI"},{"id":"2765943d.d5b22c","type":"hue-bridge","z":"","name":"Philips Hue Bridge","bridge":"192.168.0.203","key":"UQAU1ynmZgC9o2UdPVvlo-GbqQ9MvVmSOeX1ysZ9","interval":"3000"},{"id":"d92d7fb2.e096","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights On","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\",  \"brightness\": \"255\" }","mergecontext":"","x":790,"y":80,"wires":[[]]},{"id":"3cb9214f.ee15fe","type":"api-call-service","z":"3d0770ee.9fd28","name":"Turn on Bedroom Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.bedroom\",  \"brightness\": \"255\" }","mergecontext":"","x":750,"y":340,"wires":[[]]},{"id":"ee7bcb79.22fcb8","type":"api-current-state","z":"3d0770ee.9fd28","name":"Stop if in bed","server":"18ecc450.cecb0c","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.sleepnumber_m7_coleman_is_in_bed","x":510,"y":340,"wires":[["3cb9214f.ee15fe"]]},{"id":"754fa58e.7860ec","type":"api-call-service","z":"3d0770ee.9fd28","name":"Turn off Bedroom Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.bedroom\", \"transition\": \"5\" }","mergecontext":"","x":730,"y":380,"wires":[[]]},{"id":"841648e6.f6ff08","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights Off","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.kitchen\" , \"transition\": \"5\"}","mergecontext":"","x":710,"y":160,"wires":[[]]},{"id":"8b2f0259.688af","type":"hue-motion","z":"3d0770ee.9fd28","name":"Bedroom sensor","bridge":"2765943d.d5b22c","sensorid":"19","x":100,"y":360,"wires":[["4ca16d98.a5e4b4"]]},{"id":"4ca16d98.a5e4b4","type":"switch","z":"3d0770ee.9fd28","name":"Motion Detected?","property":"payload.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":360,"wires":[["ee7bcb79.22fcb8"],["fbed19fb.f048e8"]]},{"id":"fbed19fb.f048e8","type":"stoptimer","z":"3d0770ee.9fd28","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":520,"y":380,"wires":[["754fa58e.7860ec"],[]]},{"id":"f1b294c.7088f68","type":"hue-motion","z":"3d0770ee.9fd28","name":"Kitchen sensor","bridge":"2765943d.d5b22c","sensorid":"15","x":80,"y":140,"wires":[["1f6b37d3.491b78"]]},{"id":"1f6b37d3.491b78","type":"switch","z":"3d0770ee.9fd28","name":"Motion Detected?","property":"payload.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":140,"wires":[["8cee1e78.e4952"],["58c92e93.94512"]]},{"id":"58c92e93.94512","type":"stoptimer","z":"3d0770ee.9fd28","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":520,"y":160,"wires":[["841648e6.f6ff08"],[]]},{"id":"fa347ae8.6ce478","type":"hue-switch","z":"3d0770ee.9fd28","name":"Kitchen switch","bridge":"2765943d.d5b22c","sensorid":"6","x":100,"y":620,"wires":[["4e0b40af.e246d","848207d8.d970f8","28d74156.b7e9ae","2921290c.814bf6"]]},{"id":"4e0b40af.e246d","type":"switch","z":"3d0770ee.9fd28","name":"On Button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":540,"wires":[["327d777.d94a788","d7193e5b.8fdd"]]},{"id":"327d777.d94a788","type":"switch","z":"3d0770ee.9fd28","name":"Press Type","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"long released","vt":"str"},{"t":"eq","v":"holded","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":540,"wires":[["ec9b1cdc.0ed51"],["e19298c8.add3c8"],["58c9c6db.cdf258"]]},{"id":"58c9c6db.cdf258","type":"api-call-service","z":"3d0770ee.9fd28","name":"Lamp On","server":"18ecc450.cecb0c","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\": \"switch.living_room_lamp\"}","mergecontext":"","x":660,"y":560,"wires":[[]]},{"id":"848207d8.d970f8","type":"switch","z":"3d0770ee.9fd28","name":"Off Button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":620,"wires":[["564f560c.5e5388"]]},{"id":"564f560c.5e5388","type":"switch","z":"3d0770ee.9fd28","name":"Press Type","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"long released","vt":"str"},{"t":"eq","v":"holded","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":620,"wires":[["37ad8768.3ae198"],[],["3d32bc95.2b1c04"]]},{"id":"e4c500fc.8a05e","type":"switch","z":"3d0770ee.9fd28","name":"Press Type","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"long released","vt":"str"},{"t":"eq","v":"holded","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":700,"wires":[["b359a41a.d9de58"],[],["10ea7f53.970af1"]]},{"id":"560a6b6a.fdc2d4","type":"switch","z":"3d0770ee.9fd28","name":"Press Type","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"short released","vt":"str"},{"t":"eq","v":"long released","vt":"str"},{"t":"eq","v":"holded","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":780,"wires":[["decafa41.13d9d8"],[],["44741af3.219094"]]},{"id":"73f69328.74014c","type":"function","z":"3d0770ee.9fd28","name":"Incr CT 25%","func":"function newCT(current_CT) {\n    newCTPct = (current_CT / 512 + 0.25) * 512\n    return Math.max(0, Math.min(512, Math.round(newCTPct)))\n}\n\nnewMsg = {\n    payload: {\n        \"data\": {\n            \"entity_id\": \"light.kitchen\",\n            \"color_temp\": newCT(msg.payload.ct)\n    \n        }    \n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":850,"y":720,"wires":[["2c0bf2b9.275fae"]]},{"id":"2c0bf2b9.275fae","type":"api-call-service","z":"3d0770ee.9fd28","name":"Adjust Kitchen Lights","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{}","mergecontext":"","x":1120,"y":760,"wires":[[]]},{"id":"37ad8768.3ae198","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights Off","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.kitchen\" , \"transition\": \"0.5\"}","mergecontext":"","x":690,"y":600,"wires":[[]]},{"id":"3d32bc95.2b1c04","type":"api-call-service","z":"3d0770ee.9fd28","name":"Lamp Off","server":"18ecc450.cecb0c","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\": \"switch.living_room_lamp\"}","mergecontext":"","x":660,"y":640,"wires":[[]]},{"id":"10ea7f53.970af1","type":"Hue Pull","z":"3d0770ee.9fd28","deviceid":"g-2","serverid":"001788fffe4db78d","name":"","x":680,"y":720,"wires":[["73f69328.74014c"],[]]},{"id":"ec9b1cdc.0ed51","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights On","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\"}","mergecontext":"","x":690,"y":520,"wires":[[]]},{"id":"c838fed0.38f9d","type":"function","z":"3d0770ee.9fd28","name":"Decr Bri 25%","func":"function newBrightness(current_brightness) {\n    newBrightnessPct = (current_brightness / 256 - 0.25) * 100\n    return Math.max(0, Math.min(100, Math.round(newBrightnessPct)))\n}\n\nnewMsg = {\n    payload: {\n        \"data\": {\n            \"entity_id\": \"light.kitchen\",\n            \"brightness_pct\": newBrightness(msg.payload.bri)\n    \n        }    \n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":860,"y":760,"wires":[["2c0bf2b9.275fae"]]},{"id":"decafa41.13d9d8","type":"Hue Pull","z":"3d0770ee.9fd28","deviceid":"g-2","serverid":"001788fffe4db78d","name":"","x":680,"y":760,"wires":[["c838fed0.38f9d"],[]]},{"id":"a0f99412.9a0b98","type":"function","z":"3d0770ee.9fd28","name":"Decr CT 25%","func":"function newCT(current_CT) {\n    newCTPct = (current_CT / 512 - 0.25) * 512\n    return Math.max(0, Math.min(512, Math.round(newCTPct)))\n}\n\nnewMsg = {\n    payload: {\n        \"data\": {\n            \"entity_id\": \"light.kitchen\",\n            \"color_temp\": newCT(msg.payload.ct)\n    \n        }    \n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":860,"y":800,"wires":[["2c0bf2b9.275fae"]]},{"id":"44741af3.219094","type":"Hue Pull","z":"3d0770ee.9fd28","deviceid":"g-2","serverid":"001788fffe4db78d","name":"","x":680,"y":800,"wires":[["a0f99412.9a0b98"],[]]},{"id":"b359a41a.d9de58","type":"Hue Pull","z":"3d0770ee.9fd28","deviceid":"g-2","serverid":"001788fffe4db78d","name":"","x":680,"y":680,"wires":[["c8dbf8a.8f2be08"],[]]},{"id":"28d74156.b7e9ae","type":"switch","z":"3d0770ee.9fd28","name":"Brighten Button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Dim Up","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":700,"wires":[["e4c500fc.8a05e"]]},{"id":"2921290c.814bf6","type":"switch","z":"3d0770ee.9fd28","name":"Dim Button","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Dim Down","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":780,"wires":[["560a6b6a.fdc2d4"]]},{"id":"c8dbf8a.8f2be08","type":"function","z":"3d0770ee.9fd28","name":"Incr Bri 25%","func":"function newBrightness(current_brightness) {\n    newBrightnessPct = (current_brightness / 256 + 0.25) * 100\n    return Math.max(0, Math.min(100, Math.round(newBrightnessPct)))\n}\n\nnewMsg = {\n    payload: {\n        \"data\": {\n            \"entity_id\": \"light.kitchen\",\n            \"brightness_pct\": newBrightness(msg.payload.bri)\n    \n        }    \n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":850,"y":680,"wires":[["2c0bf2b9.275fae"]]},{"id":"e19298c8.add3c8","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights On","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\", \"brightness_pct\": \"100\" }","mergecontext":"","x":870,"y":460,"wires":[[]]},{"id":"d7193e5b.8fdd","type":"looptimer","z":"3d0770ee.9fd28","duration":"30","units":"Second","maxloops":"100","maxtimeout":"15","maxtimeoutunits":"Minute","name":"Keep lights on 15 min","x":420,"y":480,"wires":[["58c92e93.94512"],[]]},{"id":"8cee1e78.e4952","type":"api-current-state","z":"3d0770ee.9fd28","name":"Bed Status","server":"18ecc450.cecb0c","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.sleepnumber_m7_coleman_is_in_bed","x":470,"y":60,"wires":[["533ccc38.669dc4"]]},{"id":"533ccc38.669dc4","type":"switch","z":"3d0770ee.9fd28","name":"In Bed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":60,"wires":[["25a696ba.8f010a"],["d92d7fb2.e096"]]},{"id":"25a696ba.8f010a","type":"api-call-service","z":"3d0770ee.9fd28","name":"Kitchen Lights Dim","server":"18ecc450.cecb0c","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.kitchen\",  \"brightness\": \"25\", \"color_temp\": \"512\" }","mergecontext":"","x":790,"y":40,"wires":[[]]}]